*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.heading{
 padding-bottom: 15px;
 letter-spacing: 5px;
 color: brown;
}
  
.header{
  height:340px ;
  background-color: #D3D3D3;
  width: 100%;
}

.header-img{
  margin-left: auto;
  margin-right: auto;
  height:340px ;
  display: block;
}

.sidebar{
  background-color:#FFD8CF;  
  height:721px;
  width:200px;
  position: fixed;
}

.sidebar li {
  color: white;
  background-color: brown;
  padding:15px;
  margin-bottom:10px;
  font-size: 20px;
  text-align: center;
}

.sidebar li > a:hover {
  color: gold;
}

.sidebar-home{
  letter-spacing: 16px;
}

.sidebar-about{
  font-size: smaller;
}

.sidebar-four-moji{
  letter-spacing: 9px;
}

.contents{
  height: 721px;
  padding-left: 200px;
}

.contents li{
  float: left
}
.footer{
  background-color:#FCFFC0;
  height:200px ;
  clear:left;
}

.main-photo{
  height: 657px;
}


